.taxonomy {
    display: none;
}

.taxonomy>div {
    margin-left: 1em;
}

@media only screen and (max-width: 768px) {
    .taxonomy {
	border: 1px solid grey;
    }
    .taxonomy>div {
	margin-left: 0;
	display: inline-block;
    }
}